<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Users</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
</head>
<body>
    <h1>Edit User {{ current_user.id }}</h1>
    <div id="errors">
    {% for message in messages %}
        <span>{{ message }}</span>
    {% endfor %}
    </div>
    <form action="/users/update/" method="POST">
        {% csrf_token %}
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" value="{{ current_user.first_name }}">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" value="{{ current_user.last_name }}">
        <label for="email">Email:</label>
        <input type="text" name="email" value="{{ current_user.email }}">
        <input type="submit" value="Update">
    </form>
    <a href="/users/">Go Back</a>
</body>
</html>